@font-face {
  font-family: "Rochester-Regular";
  src: url(../Fontes/Rochester-Regular.ttf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PlaywriteCZ-Thin.ttf";
  src: url(../Fontes/PlaywriteCZ-Thin.ttf);
  font-style: normal;
  font-display: swap;
  font-variant: normal;
}

@font-face {
  font-family: "Comfortaa-Regular";
  src: url(../Fontes/Comfortaa-Regular.ttf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MozartScript-Regular";
  src: url(../Fontes/MozartScript-Regular.ttf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Champagne-&-Limousines";
  src: url(../Fontes/Champagne-&-Limousines.ttf);
  font-style: normal;
  font-display: swap;
}

:root{
  --background-primary-color: #000;
  --background-secondary-color: #ce8e1f;
  --background-tertiary-color: #f5f5f5; 

  --butoon-primary-color: #f3bf25;
  --butoon-secondary-color: #9b8d8d;
  --butoon-hover: #376005;
   
  --text-primary-color: #f3c781;
  --text-secondary-color: #fff;
  --text-tertiary-color: #2deb0c;

  --titles-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;

  --fonte-principal: "Rochester-Regular";
  --fonte-titulo: "MozartScript-Regular";
  --fonte-secundaria: "Champagne-&-Limousines";
  --fonte-terciaria: "Comfortaa-Regular";

}
/* Garante que imagens, vídeos e iframes nunca passem da largura da tela */
img,
video,
iframe {
  max-width: 100%;
  height: auto;
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

main h1{
  text-align: center;
  font-size: 4rem;
  margin-bottom: 0%;
  margin-top: 5%;
  margin-bottom: 0%;
}

main h4{
  text-align:center;
  font-size: 3.5rem;
}

.cabecalho {
  color: #DAA520;
  display: flex;
  vertical-align: bottom;
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  gap: 100px;
  padding: 2%;
  margin-left: 0%;
 
}

.cabecalho__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-decoration: none;




}

.cabecalho__menu__link {
  color: #989595;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 3;  font-family: var(--fonte-secundaria);
  font-style:normal;
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: 0.5rem;
  margin-left: 0%;
  text-decoration: none;
}

.cabecalho__menu__link:hover{
  color: #f5f5f5;
  font-weight: normal;
  text-decoration: underline;
  }




body {
  /* height: 100vh; */
  width: 100%;
  font-family: var(--fonte-secundaria);
  background-color: var(--background-primary-color);
  color: #fff;
  gap: 5%;
  /* box-sizing: border-box; */
  /* border: solid #5b6dcd 10px; */
  /* padding: 5px; */
  /* margin: 0; */
  }

strong{
  font-style: italic;
  color: #DAA520;

}
 /* ---  Estilo para o Coutdown ------  */

.count {
      font-size: 2rem;
      font-weight: bold;
      color: #333;
    }
    
    .note {
      margin-top: 0.5rem;
      color: #666;
    }



.apresentacao{
  padding: 1%;
  margin:0%;
  align-items:center;
  
}


/* - CSS para os itens da página de Entrada do site */

.abreFesta{
  width: 400px;
  margin-top: 0%;
  text-decoration: none;
  
}

.brinde{
  text-align: right;
  padding-right: 15%;
  width: auto;
  display: flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items: center;
}

.entrada__imagem{
      width: 25%
}

.abertura{
  display: flex;
  flex-direction: row;
 
}

.container {
  display: inline;
  text-align: center;
      margin-left: 400px;
      /*margin-right: 400px;*/
      padding: 1rem;
      border-radius: 10px;

      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }

h1{
  font-family: var(--fonte-titulo);
  font-weight: normal;
  font-style: normal;
  font-size: 3.25rem;
  padding: auto;
}
 
h3{
  font-family: var(--fonte-secundaria);
  font-weight: normal;
  font-style: oblique;
  font-size: 2.5rem;
  padding: auto;
}

h4{
font-family: var(--fonte-secundaria);
  font-weight: normal;
  font-style: oblique;
  font-size: 3rem;
  padding: auto;
}

span{
  color: var(--text-primary-color);
  border: 1px var(--butoon-hover);
  padding: 10px;
}

header, section, footer {
  padding: 0.5rem;
  max-width: 100%;
  margin: 0;
  display: inline-block;
  
}

h1, h2, h3, h4 {
  color: #FFD700;
}

/.button {
  background-color: var(--butoon-secondary-color);
  color: #000;
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-family: var(--fonte-secundaria);
  font-weight: lighter;
  font-style: normal;
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  margin-top: 2rem;
  
}

.button__audio {
  background-color: red;
  color: #000;
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 10px;
  font-family: var(--fonte-secundaria);
  font-weight: lighter;
  font-style: normal;
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  
  
}

.button:hover{
  background-color: var(--butoon-hover);
  transform: scale(1.2rem);

}


.button__audio:hover{
  background-color: var(--butoon-hover);
  transform: scale(1.2rem);
}

.desc{
  font-family: var(--fonte-terciaria) ;
  flex: 2;
  font-size: 18px;
  line-height: 1.7;
  color: var(--branco);
  text-align: justify;
}


.rodape {
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content:center;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 5rem;
  margin-bottom: 5%;
  font-family: var(--fonte-secundaria);
  font-style:oblique;
  font-size: 2rem;
  font-weight: 700;
  gap: 100px;
  
}


.card {
  font-family: var(--fonte-terciaria);
  font-size: 1.5rem;
  background: rgba(255,255,255,0.05);
  border: 2px dotted rgba(245,196,81,0.35);
/*  border: 2px #FFD700;
  border-style: dotted;*/
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0 0 10px #FFD70055;
}

.card__linhatempo {
  background: rgba(255,255,255,0.05);
  border: 2px dotted rgba(245,196,81,0.35);
  /*border: 2px dotted #FFD700;*/
  border-radius: 1rem;
  padding: 1rem;
  padding-right: 1rem;
  margin: 1rem 0;
  box-shadow: 0 0 10px #FFD70055;
  display: flex;
  align-items: center;
  justify-content:space-between;
  row-gap: 100rem;
  column-gap: 40px;
  font-size: 1.5rem;
  text-align: justify;
}

main {
  width:auto;
  margin: 5% 5%;
}

  

form {
  margin: 40px 0;

}

form label, form p {
  display: block;
  font-size: 1.5rem;
  margin: 20px 0 10px;
  color:#ce8e1f

}

.gallery-item {
  background: rgba(255,255,255,0.05);
  border: 5px ridge #FFD700;
  border-radius: 1rem;
  padding: 1rem;
  padding-right: 1rem;
  margin: 1rem 0;
  box-shadow: 0 0 10px #FFD70055;
  display:inline-block;
  justify-content:space-between;
  vertical-align:text-top;
  row-gap: 100rem;
  column-gap: 40px;
  font-size: 1.5rem;
  text-align: justify;
}

.gallery-item img{
  border-radius: 1rem;
  margin-bottom: 15px;
  width: 10%;
}

.input-padrao {
  display:block;
  font-size: 1rem;
  padding: 10px 20px;
  margin 10px 0 20px
  width: 50%;
}

.enviar{
  width: 40%;
  padding: 1.5rem 0;
  background: #666;
  color:#f5f5f5;
  font-size: 1.5rem;
  border: none;
  border-radius: 20rem;
  transition: 1s all;
  cursor: pointer;
  

}

.enviar:hover{
  background: var(--butoon-hover);
  transform: scale(1.3);
}


.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.carousel > * {
  flex: 0 0 80%;
  scroll-snap-align: center;
  margin: 0 1rem;
}


/*  Variáveis de cores
Background
Botoes
Cores de textos */






@media (max-width: 768px) {

      .cabecalho {
        flex-direction: column; 
        align-items: center;
        gap: 24px;
      }


      .topbar {
        flex-direction: column;
        align-items: flex-start;
      }
      .cabecalho img{
        width: 40%;
        height:20%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        }
      nav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
      }

      nav a {
        margin-left: 0;
        margin-right: 15px;
      }

      .titulo-pagina h1 {
        font-size: 22px;
      }

      .rodape{
        font-size: 20px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0%;
        margin-left: auto;
        margin-right: auto;
        padding: 0%;
        margin-bottom: 10%;
        gap: 1px;
      }
    }

  



